# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\apache-tomcat-8.5.60\webapps\catfish4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
